spring:
  application:
    name: cittilenz

  profiles:
    active: dev

  jackson:
    time-zone: Asia/Kolkata

  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 15MB

  jpa:
    open-in-view: false
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        globally_quoted_identifiers: true

server:
  port: 8080
